{% extends 'baseadmin.html.twig' %}
{% block body %}
    {{ parent() }}
    {{ sg_datatables_render(datatable) }}
    <a href ="{{ path ('ajouterconge') }}" class="btn btn-primary btn-xs">
        ajouter conge
    </a>

{% endblock %}
